/*{
  // 最低限のルール32種類が有効になる
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "$$": true,
    "Quo": true,
    "cjs": true,
    "eventTypeDown": true,
    "eventTypeUp": true,
    "eventTypeMove": true,
    "isMobile": true,
    "isTouch": true,
    "wrapper": true,
    "escapeHtml": true,
    "Common": true,
    "blinkLevel_Limit": true,
    "LazyImgload": true,
    "LoadingAnim": true,
    "naviMessageTypingAnim": true,
    "rogueAlert": true,
    "addBtnEvent": true,
    "showModalMenu": true,
    "hideModalMenu": true,
    "isNullOrUndefinedOrEmpty": true,
    "fadeoutMessageBox": true,
    "blockScreen": true,
    "gapp": true,
    "Pex": true,
    "RoguePex": true,
    "unitPrice": true,
    "SortController": true,
    "BpButtonController": true,
    "BoostButtonController": true,
    "ItemDetailOverlay": true,
    "PartySwitch": true,
    "can_edit_party": true,
    "pageScroll": true,
    "base_url": true,
    "editUrl": true,
    "UniqueEvilOverlay": true,
    "DragonCountDownTimer": true,
    "enableFriendRequest": true,
    "BonusTableBoosterSwitcher": true,
    "CountDown": true,
    "arms_page_type": true,
    "quest": true,
    "changeSegment": true,
    "showFlg": true,
    "attribution_image_path": true,
    "supporterSelectUrl": true,
    "enhanceUrl": true,
    "Carousel": true,
    "strength_base_url": true,
    "repair_base_url": true,
    "tokenId": true,
    "DATETIME_S": true,
    "itemSelectUrl": true,
    "otherPageSelectedNum": true,
    "baseNavigateUrl": true,
    "baseBookArmsUrl": true,
    "maxSelectedNum": true,
    "ChatModel": true,
    "AsyncService": true,
    "BossCompReward": true,
    "changeTab": true
  },
  "rules": {
    "comma-dangle": 1,
    "no-unused-vars": 1,
    "semi": [2, "always"]
  }
}*/

{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true
  },
  "rules": {
    "comma-dangle": 1,
    "no-unused-vars": 1,
    "no-mixed-spaces-and-tabs": 1,
    "no-extra-semi": 1,
    "no-undef": 0
  },
  "globals": {
    "RoguePex": true,
    "$$": true,
    "Common": true,
    "Pex": true,
    "eventTypeDown": true,
    "CountDown": true,
    "pageScroll": true,
    "Carousel": true,
    "$$hintBtn": true,
    "$$olHintWrap": true,
    "$$olHintClose": true,
    "showModalMenu": true,
    "wrapper": true,
    "unitPrice": true,
    "maxSelectedNum": true,
    "eventTypeUp": true,
    "otherPageSelectedNum": true,
    "PartySwitch": true,
    "blinkLevel_Limit": true,
    "base_url": true,
    "BpButtonController": true,
    "Quo": true,
    "carousel": true,
    "LazyImgload": true,
    "cjs": true,
    "SortController": true,
    "editUrl": true,
    "ItemDetailOverlay": true,
    "isTouch": true,
    "rogue": true,
    "GREE": true,
    "DATETIME_S": true,
    "can_edit_party": true,
    "eventTypeMove": true,
    "gapp": true,
    "quest": true,
    "BonusTableBoosterSwitcher": true,
    "changeSegment": true,
    "escapeHtml": true,
    "isMobile": true,
    "showFlg": true,
    "enableFriendRequest": true,
    "blockScreen": true,
    "attribution_image_path": true,
    "LoadingAnim": true,
    "baseNavigateUrl": true,
    "baseBookArmsUrl": true,
    "hideModalMenu": true
  }
}
